#plateau {
    height: 500px;
    width: 500px;
    border: 10px black solid;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    position: absolute;
}

.case {
    border: 1px black solid;
}

.block {
    border: 2px black solid;
    width: 45px;
    height: 45px;
    background: radial-gradient(black, grey);
    border-radius: 10px;
}
