body {
    max-width: 1000px;
    margin: auto;
}

#plateau {
    height: 500px;
    width: 500px;
    border: 10px black solid;
    display: grid;
    grid-template: repeat(10, 50px) / repeat(10, 50px);
    position: absolute;
}

.case {
    border: 1px black solid;
}

.block {
    border: 2px black solid;
    width: 45px;
    height: 45px;
    background: radial-gradient(black, grey);
    border-radius: 10px;
}

.guns, .player-container {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 1px;
}

.player {
    width: 45px;
    height: 45px;
    position: absolute;
    z-index: 1;
}

.gun {
    width: 25px;
    z-index: 10;
    position: relative;
    left: 20px;
    bottom: 20px;
    background-color: rgba(150, 150, 150, 0.8);
    padding: 2px;
    border-radius: 5px;
}

.underline {
    background: radial-gradient(white, green)
}

.underline:hover {
    box-shadow: -1px 1px 5px 9px greenyellow;
    cursor: pointer;
}

.d-none {
    display: none;
}

section {
    display: inline-block;
}

aside {
    float: right;
}

span {
    color: purple;
}