@media screen and (min-width: 960px) {
    aside {
        float: right;
    }
}

@media screen and (max-width: 960px) {
    aside {
        float: none;
        display: block;
        padding-top: 550px !important;
    }

    body {
        min-width: 550px !important;
    }
}

body {
    max-width: 1100px;
    min-width: 850px;
    margin: auto;
    padding: 20px;
    background: url('../img/background.png') center top;
}

header, #plateau, aside {
    background-color: rgba(255, 255, 255, 0.3);
}

#plateau {
    height: 519px;
    width: 519px;
    border: 10px black solid;
    display: grid;
    grid-template: repeat(10, 50px) / repeat(10, 50px);
    position: absolute;
}

.case {
    border: 1px black solid;
}

.block {
    border: 2px black solid;
    width: 45px;
    height: 45px;
    background: radial-gradient(black, grey);
    border-radius: 10px;
}

.guns, .player-container {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 1px;
}

.player {
    width: 45px;
    height: 45px;
    position: absolute;
    z-index: 1;
}

.gun {
    width: 25px;
    z-index: 10;
    position: relative;
    left: 20px;
    bottom: 20px;
    background-color: rgba(150, 150, 150, 0.8);
    padding: 2px;
    border-radius: 5px;
}

.underline-red {
    background: radial-gradient(white, pink)
}

.underline-blue {
    background: radial-gradient(white, turquoise)
}

.underline-red:hover {
    box-shadow: -1px 1px 5px 9px orange;
    cursor: pointer;
}

.underline-blue:hover {
    box-shadow: -1px 1px 5px 9px blue;
    cursor: pointer;
}

.d-none {
    display: none;
}

header {
    text-align: center;
}

section {
    display: inline-block;
}

aside {
    padding: 20px;
}

#tour-display {
    padding: 5px;
    color: white;
}

#actions-p1, #actions-p2 {
    padding: 5px;
    text-align: center;
}

#actions-p1 {
    background-color: rgba(255,0,0,0.6);
}

#actions-p2 {
    background-color: rgba(0,0,255,0.6);
}

span {
    color: purple;
}

#etat {
    width: 100%;
    height: 50px;
    background-color: green;
    margin-top: 20px;
}

b {
    margin: auto;
    text-align: center;
    width: 100%;
    display: block;
}

